<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.demo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.entry.EntryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.VideoPlayActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.main.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.ShoppingCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.VersionUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.IntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.CustomServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.SwitchAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MyBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MyBonusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MyCouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.main.MyCheckoutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>